@use '../../style/base'
.filter-buttons
    display: flex
    flex-direction: row
    align-items: center
    gap: 0.5rem

    &__button
        @extend %effect-1
        @extend %font-bold
        height: base.$unit-4x
        padding-inline: base.$unit-2x
        border: none
        border-radius: base.$unit-4x
        color: #7878AB
        cursor: pointer
        transition: background-color 0.3s ease

        &:hover
            //box-shadow: none
            @extend %effect-3
