@use '../../style/base'
.header
    @extend %fxrow
    gap: base.$unit-2x
    align-items: center

    &__profile-btn,   &__notification-btn
        height: base.$unit-5x
        width: base.$unit-5x
        border-radius: base.$unit-8x
        border: none
        overflow: hidden
        @extend %effect-1

    &__profile-btn
        border: 2px solid #F5F5FA

    &__profile-img
        width: 100%
        height: 100%

        object-fit: cover

    &__notification-btn
        margin-left: auto
    
    &__notification-icon
        color: base.$color-primary-500
        width: 20px
        height: 20px

    &__location

        &-wrapper
            color: base.$gray-700
            display: inline-flex
            gap: base.$unit-1x
            align-items: center

        &-icon
            color: base.$color-primary-500
