@use 'sass:math'
@use 'sass:color'

/* Fonts */
@font-face
    font-family: 'Lato'
    src: url('../assets/fonts/Lato/Lato-Light.ttf') format('truetype')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'Lato'
    src: url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'Lato'
    src: url('../assets/fonts/Lato/Lato-Bold.ttf') format('truetype')
    font-weight: 700
    font-style: normal

$sans-serif-family: 'Lato', Helvetica, Arial, sans-serif

%font-regular
    font-family: $sans-serif-family
    font-weight: 300
    font-style: normal

%font-medium
    font-family: $sans-serif-family
    font-weight: 400
    font-style: normal

%font-bold
    font-family: $sans-serif-family
    font-weight: 700
    font-style: normal

/* Gray base */
$gray-500: #7f7f7f
/* Gray lighter */
$gray-050: color.scale($gray-500,$lightness: 90%)
$gray-100: color.scale($gray-500,$lightness: 80%)
$gray-200: color.scale($gray-500,$lightness: 60%)
$gray-300: color.scale($gray-500,$lightness: 40%)
$gray-400: color.scale($gray-500,$lightness: 20%)
/* Gray darker */
$gray-600: color.scale($gray-500,$lightness: -20%)
$gray-700: color.scale($gray-500,$lightness: -40%)
$gray-800: color.scale($gray-500,$lightness: -60%)
$gray-900: color.scale($gray-500,$lightness: -80%)
$gray-950: color.scale($gray-500,$lightness: -90%)

/* Primary base */
$color-primary-500: #57419D
/* Primary lighter */
$color-primary-050: color.scale($color-primary-500,$lightness: 90%)
$color-primary-100: color.scale($color-primary-500,$lightness: 80%)
$color-primary-200: color.scale($color-primary-500,$lightness: 60%)
$color-primary-300: color.scale($color-primary-500,$lightness: 40%)
$color-primary-400: color.scale($color-primary-500,$lightness: 20%)
/* Primary darker */
$color-primary-600: color.scale($color-primary-500,$lightness: -20%)
$color-primary-700: color.scale($color-primary-500,$lightness: -40%)
$color-primary-800: color.scale($color-primary-500,$lightness: -60%)
$color-primary-900: color.scale($color-primary-500,$lightness: -80%)
$color-primary-950: color.scale($color-primary-500,$lightness: -90%)

$color-alert: #FF5D5D
$color-accent: #ffc800

$black-tint-100: rgba($gray-900, .2)
$box-shadow-6r: 0 0 6rem $black-tint-100

$max-width-content: 40rem
$max-width-page: 50rem
$tablet-breakpoint: 40rem
$unit-1x: 0.5rem
$unit-2x: $unit-1x*2
$unit-3x: $unit-1x*3
$unit-4x: $unit-1x*4
$unit-5x: $unit-1x*5
$unit-6x: $unit-1x*6
$unit-7x: $unit-1x*7
$unit-8x: $unit-1x*8
$unit-05x: math.div($unit-1x,2)
$unit-025x: math.div($unit-1x,4)

$svg-white: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%)

$text-headline: 1.5rem/2rem Roboto_Reg, Arial, Helvetica, sans-serif
$grid-item-size: 8rem

*,
*::before,
*::after
    padding: 0
    margin: 0
    box-sizing: border-box

*
    -ms-overflow-style: none
    -webkit-scrollbar: none
    scrollbar-width: none

body
    @extend %font-regular

    max-width: $max-width-page
    margin: 0 auto

a, button
    cursor: pointer

ul li 
    margin: 0
    padding: 0
    text-indent: 0
    list-style-type: none

%fxcol
    display: flex
    flex-direction: column

%fxrow
    display: flex
    flex-direction: row
    align-items: flex-start

%standard-grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax($grid-item-size,1fr))
    gap: $unit-1x

%clickable-card
    position: relative

    a
        text-decoration: none

    a::before
        content: ''
        position: absolute
        z-index: 100
        inset: 0

    a:focus
        box-shadow: none
        outline: none

    &:focus-within
        box-shadow: 0 0 0 1px blue

%effect-1
    background: #F5F5FA
    box-shadow: -4px -4px 8px #ffffff80, 4px 4px 8px #AAAACC40,8px 8px 16px #AAAACC80,-8px -8px 16px #fff

%effect-2
    background: #F5F5F9
    box-shadow: -4px -4px 4px #FAFBFF, 4px 4px 4px #CBCBE0

%effect-3
    background: #F5F5F9
    box-shadow: inset -4px -4px 8px #FAFBFF, inset 4px 4px 8px #AAAACC40

@media only screen and (max-width: $tablet-breakpoint)
