@use '../../style/base'
.animal-item
    @extend %fxrow
    @extend %effect-1
    @extend %clickable-card
    background: #F5F5FA
    gap: base.$unit-1x

    border-radius: base.$unit-2x

    h2 a
        @extend %font-bold
        color: base.$gray-800

    svg
        fill: #5533EA
        margin-right: base.$unit-05x

    &__img
        width: 8rem
        margin-top: base.$unit-1x

    &__text-wrapper
        @extend %fxcol
        gap: base.$unit-1x
        padding: base.$unit-1x

    &__meta
        @extend %fxrow
        gap: base.$unit-2x
        align-items: center
        text-transform: capitalize

    p
        @extend %font-regular
        color: base.$gray-600